<form class="form-auth form-login" role="form" {{action 'authenticate' on='submit'}}>
  <h2 class="form-auth-heading">Please log in</h2>
  {{input class="form-control" type="username" required="true" autofocus="true" placeholder="Username" value=username}}
  {{input class="form-control" type="password" required="true" autofocus="true" placeholder="Password" value=password}}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  {{#if error}}<div class="alert alert-danger">Error: {{error}}.</div>{{/if}}
  {{#link-to 'signup' class="signup" }}Signup{{/link-to}}
</form>
