<div class="profile">
	<h1>I'm a profile page.</h1>
	<div>
	  {{#each}}
	  	<h3 class="author">{{author}}{{date}}</h3>
	  	<br/>
	  	<ul class="barkContent">
	  		<li>{{content}}</li>
	  	</ul
	  {{/each}}
	</div>
</div>
